.logo {
  letter-spacing: 7px;
}

.queryCont {
  backdrop-filter: blur(5px);
}
.blur {
  backdrop-filter: blur(10px);
}
.searchbar {
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
.niceBorder {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  position: relative;
  background: url("/banner.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: 0.5s;
}

.banner::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.queryList:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.swiperCont {
  background: rgba(0, 0, 0, 0.4);
}

.skeleton-loader {
  animation: loadingAnimation 1.5s infinite ease-in-out;
  background: linear-gradient(
    90deg,
    #f0f0f069 25%,
    #f0f0f088 50%,
    #f0f0f069 75%
  );
  background-size: 200% 100%;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
}

@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
